body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  text-align: center;
  vertical-align: middle;

  background-color: #fb565a;
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;

-webkit-clip-path: inset(100%);
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
/*-----------------------------------
              Header
-----------------------------------*/
.main-header {
  background-color: #eeeeee;

  padding-bottom: 9px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo img:hover {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;

  display: flex;
  justify-content: space-between;
}

.site-navigation {
  list-style: none;

  margin: 0;
  padding: 0;

  width: 440px;
}

.user-navigation {
  list-style: none;

  margin: 0;
  padding: 0;

  width: 160px;
}

.site-navigation a,
.user-navigation a {
  color: inherit;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus,
.shopping-navigation-item a:hover,
.shopping-navigation-item a:focus {
  color: #fb565a;
}

.site-navigation-item a:active,
.shopping-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #000000;
}

.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:visited,
.site-navigation-current a:active {
  color: #000000;
  background-color: #eeeeee;
}
/*---------------------------------
      Секция со слайдером
---------------------------------*/
.studio-features-slider {
  background-color: #eeeeee;

  padding-top: 9px;
  padding-bottom: 80px;
}

.studio-features-slider-item {
  padding-top: 67px;
}

.slider-item-1 {
  background-image: url("../img/slider-slide1.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.slider-item-2 {
  background-image: url("../img/slider-slide2.png");
  background-repeat: no-repeat;
  background-position: center right;

  display: none;
}

.slider-item-3 {
  background-image: url("../img/slider-slide3.png");
  background-repeat: no-repeat;
  background-position: center right;

  display: none;
}

.studio-features-slider-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.studio-features-slider-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

/*
.studio-features-button {

}
*/

.studio-features-button:hover,
.studio-features-button:focus {
  background-color: #e74246;
}

.studio-features-button:active {
  background-color: #d7373b;

  color: rgba(255, 255, 255, 0.3);
}
/*----------------------------------------
            Advantages block
-----------------------------------------*/
.advantages {
  padding-top: 60px;
  padding-top: 80px;
}

.advantages-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 300px;
}

.advantages-item-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}
/*-------------------------------
          About us block
--------------------------------*/
.about-us-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us-capabilities {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.orders-list {
  list-style: none;
}

.stats-table-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.numeric-stats-info {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.stats-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}
/*-----------------------------------------------
                      Галерея
-------------------------------------------------*/
.projects-gallery-content img {
  opacity: 0.2;
}

.projects-gallery-content img:hover,
.projects-gallery-content img:focus {
  opacity: 1;
}

.projects-gallery-content img:active {
  opacity: 0.1;
}
/*--------------------------------------------------
          Стилизация страницы каталога
-----------------------------------------------------*/
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.filters fieldset {
  border: none;
}

.filters-form-item legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filters-item label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283136;
}

.filter-input + label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #283136;

  opacity: 0.3;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.sorting p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sorting-buttons {
  list-style: none;
}

.sorting-button {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  border: none;

  background-color: #ffffff;
}

.sorting-button:hover,
.sorting-button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-current-button {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  border: none;

  background-color: #ffffff;
}

.sorting-range-down button {
  border: none;
  background-color: #ffffff;
}

.sorting-range-up button {
  border: none;
  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-item-info {
  background-color: #eeeeee;
}

.catalog-item-name a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  text-align: center;
}

.catalog-item-info p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.button-item-price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
}

.button-item-price:hover,
.button-item-price:focus {
  background-color: #e74246;
}

.button-item-price:active {
  background-color: #d7373b;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a {
  border: 2px solid #dbdbdb;

  background-color: transparent;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: transparent;
}

.pagination-item-next {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
/*--------------------------------------------------
                    Футер,  Контакты
--------------------------------------------------*/
.footer-contacts {
  background-color: #ffffff;
}

.footer-contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.footer-contacts-adress {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.write-us-tel {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.write-us-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.write-us-button:hover,
.write-us-button:focus {
  background-color: #e74246;
}

.write-us-button:active {
  background-color: #d7373b;

  color: rgba(255, 255, 255, 0.3);
}

/*---------------------------------------
              Место для карты
________________________________________*/
.footer-map {
  background-image: url("../img/map-reserve.jpg");
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-map-widget {
  border: 1px;
  width: 100%;
  height: 416px;
}
/*---------------------------------------
              Социальный блок
---------------------------------------*/
.social-button-item {
  background-color: #e1e1e1;
}

.social-button-item:hover,
.social-button-item:focus {
  background-color: #e74246;
}

.social-button-item:active {
  background-color: #d7373b;
}

.footer-social-links b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-social-links p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}
/*-------------------------------------
        Модальное окно Write Us
---------------------------------------*/
.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.write-us-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-us-item input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.write-us-item input:hover {
  border-color: #b4b9bb;
}

.write-us-item input:focus {
  border-color: #000000;
}

.write-us-item textarea {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.write-us-item textarea:hover {
  border-color: #b4b9bb;
}

.write-us-submit-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: #fb565a;
}

.write-us-submit-button:hover {
  background-color: #e74246
}

.write-us-submit-button:active {
  background-color: #d7373b;
}
/*--------------------------------
----------------------------------*/
